body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

#result {
    font-weight: bold;
    margin-top: 10px;
}


.weak {
  color: red;
}


.medium {
  color: orange;
}

.strong {
  color: green;
}