body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#a {
    width: 150px;
    height: 150px;
    background-color: blue;
    animation: ANIMATION 5s linear 3s infinite;
}

@keyframes ANIMATION {
    0% {transform: rotate(0deg) scale(1); background-color: rgb(0, 255, 34);}

    50% {transform: rotate(180deg) scale(2); background-color: rgb(255, 0, 0);}

    100% {transform: rotate(360deg) scale(1); background-color: rgb(0, 60, 255);}
}

