body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#b {
    height: 200px;
    width: 200px;
    background: skyblue;
    animation:rame 7s infinite ;
}

@keyframes rame {
    0% {border-radius: 0%;}

    50% {border-radius: 50%; background-color: aqua;}

    100% {transform: translateX(100px); background-color: blueviolet;}

}