* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#box{
    background: black;
    width: 250px;
    height: 250px;
    transition:
    2s;
}

#box:hover{
    background: blue;
    border-radius: 35%;
}

h1 {
    position: absolute;
    top: 250px;
    left: 200px;
    color: blue;
}
