* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#A {
    display: grid;
    grid-template-columns:20%, 20%, 20%, 20%, 20% ;
    grid-template-rows:20%, 20%, 20%, 20%, 20% ;
    height: 500px;
    width: 1000px;
    background-color:aqua;
}

#a {
    grid-row: 1/2;
    background-color:red;
}