*  {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 20px 20px;
    background-color: #222;
    border: none;
    color: white;
    font-size: 1.30rem;
}

button {
    padding: 15px;
    border: 1px solid rgb(151, 151, 151);
    transition: 0.25s;
}

#symbols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#equal {
    grid-row: 2/6;
    grid-column: 4/5;
}

button:hover {
    transform: scale(100%);
    border: 1px solid black;
    background-color: solid gray;
    color: white;
}